<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Ambilight</title>
    <script src="{{ url_for('static', filename='javascript/ambilight.js') }}" async></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ambilight.css') }}">
</head>
<body>
    <div id="loadingPage">
        <h1>Loading...</h1>
    </div>
    <div id="ambilightPage">
        <div class="ambilightPageRow">
            <div class="ambilightPageItem"></div>
            <Button class="ambilightPageItem" id="changeConfigButton">Änderungen Anwenden</Button>
            <Button class="ambilightPageItem" id="resetConfigChangesButton">Änderungen zurücksetzen</Button>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Anzahl LEDs links</p>
            <input name="count_left" class="ambilightPageItem configValue" type="number" step="0.01"></input>
            <div class="ambilightPageItem"></div>
        </div>
        
        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Anzahl LEDs oben</p>
            <input name="count_top" class="ambilightPageItem configValue" type="number" step="0.01"></input>
            <div class="ambilightPageItem"></div>
        </div>
        
        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Anzahl LEDs rechts</p>
            <input name="count_right" class="ambilightPageItem configValue" type="number" step="0.01"></input>
            <div class="ambilightPageItem"></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Anzahl LEDs unten</p>
            <input name="count_bottom" class="ambilightPageItem configValue" type="number" step="0.01"></input>
            <div class="ambilightPageItem"></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Anfangsled</p>
            <Button name="offset" class="ambilightPageItem configValue" id="changeStartLEDButton">Anfangsled ändern</Button>
            <div class="ambilightPageItem"></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Helligkeit:</p>
            <input name="brightness" class="ambilightPageItem configValue slider" type="range" step="0.01" id="brightnessSlider" min="0" max="100"></input>
            <div class="ambilightPageItem"><input class="ambilightPageItem sliderTextField" type="number" step="0.01" id="brightnessTextfield" min="0" max="100"></input></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Stärke Rot:</p>
            <input name="strength_red" class="ambilightPageItem configValue slider" type="range" step="0.01" id="strengthRedSlider" min="0" max="100"></input>
            <div class="ambilightPageItem"><input class="ambilightPageItem sliderTextField" type="number" step="0.01" id="strengthRedTextfield" min="0" max="100"></input></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Stärke Grün:</p>
            <input name="strength_green" class="ambilightPageItem configValue slider" type="range" step="0.01" id="strengthGreenSlider" min="0" max="100"></input>
            <div class="ambilightPageItem"><input class="ambilightPageItem sliderTextField" type="number" step="0.01" id="strengthGreenTextfield" min="0" max="100"></input></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Stärke Blau:</p>
            <input name="strength_blue" class="ambilightPageItem configValue slider" type="range" step="0.01" id="strengthBlueSlider" min="0" max="100"></input>
            <div class="ambilightPageItem"><input class="ambilightPageItem sliderTextField" type="number" step="0.01" id="strengthBlueTextfield" min="0" max="100"></input></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Stärke Schwarz:</p>
            <input name="strength_black" class="ambilightPageItem configValue slider" type="range" step="0.01" id="strengthBlackSlider" min="0" max="100"></input>
            <div class="ambilightPageItem"><input class="ambilightPageItem sliderTextField" type="number" step="0.01" id="strengthBlackTextfield" min="0" max="100"></input></div>
        </div>

        <div class="ambilightPageRow">
            <p class="ambilightPageItem">Smoothness:</p>
            <input name="smoothness" class="ambilightPageItem configValue slider" type="range" step="0.01" id="smoothnessSlider" min="0" max="100"></input>
            <div class="ambilightPageItem"><input class="ambilightPageItem sliderTextField sliderTextField" type="number" step="0.01" id="smoothnessTextfield" min="0" max="100"></input></div>
        </div>
    </div>
</body>
</html>