__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
.env
.git
.gitignore
.github
.vscode
.idea
*.md
logs/
*.log
.DS_Store
node_modules/
npm-debug.log
